__pycache__/
*.py[cod]
.venv/
venv/
.env
.pytest_cache/
.mypy_cache/
data/debug/*
!data/debug/.gitkeep
data/navigation/*.csv
!data/navigation/.gitkeep
*.jpg
*.png
!data/calibration/.gitkeep
tmp/
车体控制部分/
